@tailwind base;
@tailwind components;
@tailwind utilities;
/** other custom global styles can go here */
.text-brown {
    color: #8B4513; /* Color café */
}

.bg-wood {
    background-color: #DEB887; /* Color madera */
}

.card-bg-wood {
    background-color: #F5DEB3; /* Color madera claro para las tarjetas */
}

.wide-button {
    width: 30%;
    height: 30%;
    outline: 2px solid #F5DEB3; /* Contorno */  
    box-shadow: 0 4px 8px rgba(245, 222, 179, 0.5); /* Sombra */
     border: 2px solid #F5DEB3; /* Color del borde */
     background-color: #F5DEB3 ;
}
  
.ion-header-pest {
    background-color: #F5DEB3; /* Color madera claro para el header */
}

.h-64 { height: 12rem; /* Altura fija de 64 unidades */ } 
