@tailwind base;
@tailwind components;
@tailwind utilities;

/** Otros estilos globales personalizados */
.text-brown {
    color: #8B4513; /* Color café */
}

/* Colores celestes claros */
.text-light-blue {
    color: #4A90E2; /* Azul claro para texto */
}

.bg-light-blue {
    background-color: #E0F7FA; /* Azul claro para fondo */
}

.card-bg-light-blue {
    background-color: #B3E5FC; /* Azul claro para fondo de tarjetas */
}

.wide-button {
    width: 30%;
    height: 30%;
    outline: 2px solid #B3E5FC; /* Contorno azul claro */
    box-shadow: 0 4px 8px rgba(179, 229, 252, 0.5); /* Sombra azul clara */
    border: 2px solid #B3E5FC; /* Color del borde azul claro */
    background-color: #B3E5FC; /* Fondo azul claro */
}

.ion-header-light-blue {
    background-color: #B3E5FC; /* Color azul claro para el header */
}

.h-64 {
    height: 16rem;
}
