.option-card {
  background-color: #B3E5FC !important; /* Fondo azul claro */
  color: #0D47A1 !important; /* Azul oscuro para el texto */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 160px; /* Tamaño ligeramente más grande */
  height: 150px; /* Tamaño ligeramente más grande */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px; /* Margen entre las tarjetas para mayor separación */
}

.option-card:hover {
  background-color: #81D4FA !important; /* Azul más oscuro en hover */
  color: #0D47A1 !important; /* Texto azul oscuro */
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.text-dark-blue {
  color: #0D47A1; /* Azul oscuro para el texto y los íconos */
}