.bg-light-blue {
    background-color: #E0F7FA;
  }
  
  .text-dark {
    color: #333333;
  }
  
  .card-bg-light-blue {
    background-color: #B3E5FC;
    border-radius: 20px; /* Bordes más redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .input-field {
    border: 1px solid #333333; /* Borde negro suave */
    border-radius: 12px; /* Bordes redondeados para el campo de entrada */
    padding: 12px;
    font-size: 1rem;
    color: #333333;
  }
  
  .pets-add-button {
    background-color: #1E88E5; /* Azul más vivo */
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .pets-add-button:hover {
    background-color: #1565C0; /* Azul más oscuro al pasar el ratón */
  }

  .styled-button {
    background: linear-gradient(to right, #4299e1, #2b6cb0); /* Degradado de azul */
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .styled-button:hover {
    background: linear-gradient(to right, #2b6cb0, #2c5282); /* Degradado en hover */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
  }
  
  .styled-button:active {
    transform: scale(0.98); /* Reduce un poco el tamaño al hacer clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra de presión */
  }
  
  .styled-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Resalta en azul al enfocarse */
  }
  
  .styled-button-full {
    width: 100%;
    margin-top: 24px;
  }
  